* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 80%;
    border: 1px solid #555;
    overflow: hidden;
}

.sidebar {
    width: 50%;
    padding: 20px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.content h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    border-bottom: 1px solid #555;
    padding-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 1em;
}

.image-section {
    width: 50%;
    position: relative;
    background-color: #222;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    font-size: 1.2em;
    border: none;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
}

